<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" th:href="@{/bootstrap-3.3.7/docs/myfavicon.ico}" />

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap-3.3.7/docs/dist/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap-3.3.7/docs/examples/signin/signin.css}" rel="stylesheet"></link>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script th:src="@{/bootstrap-3.3.7/docs/assets/js/ie8-responsive-file-warning.js}"></script><![endif]-->
    <script th:src="@{/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script th:src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="bgImage" style="background: url('/images/1.jpg') no-repeat">
<div class="container" style="width: 970px">
    <form class="form-signin" th:action="@{/user/login.do}" th:method="post">
        <h2 class="form-signin-heading" style="color: white">欢迎使用</h2>
        <br/>
        <label for="inputEmail" class="sr-only">请输入用户名</label>
        <input type="email" name="name" id="inputEmail" class="form-control" placeholder="请输入用户名" required="required" autofocus="autofocus" />
        <br/>
        <label for="inputPassword" class="sr-only">请输入密码</label>
        <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="请输入密码" required="required" />
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"/> <span style="color:white;">记住我</span>
            </label>
        </div>
        <div class="btn-group btn-group-justified" aria-label="...">
            <div class="btn-group" role="group">
                <button type="submit"  class="btn btn-lg btn-success">登录</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script type="text/javascript">
    //随机背景
    var random = parseInt(Math.random()*21)+1;
    var bgImage = document.getElementById('bgImage');
    bgImage.style.background = 'url(/images/'+random+'.jpg) no-repeat'; //直接切换背景色。

    //

</script>
</body>
</html>
